@*
    Copyright (c) Just Eat, 2016. All rights reserved.
    Licensed under the Apache 2.0 license. See the LICENSE file in the project root for full license information.
*@

@model HomeModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@inject Microsoft.Extensions.Configuration.IConfiguration Config

@{
    ViewData["Title"] = "Sample integration";
    var token = Antiforgery.GetAndStoreTokens(Context);

    var language = Context.Request.Query["lang"].FirstOrDefault() ?? Config["ApplePay:DefaultLanguage"] ?? string.Empty;
    var region = new System.Globalization.RegionInfo(language);

    var countryCode = region.TwoLetterISORegionName;
    var currencyCode = region.ISOCurrencySymbol;
    var currencySymbol = region.CurrencySymbol;
    var merchantId = Model!.MerchantId;
}

@section meta {

    @*
        Setup antiforgery tokens for the JavaScript.
    *@
    <meta name="x-antiforgery-name" content="@token.HeaderName" />
    <meta name="x-antiforgery-token" content="@token.RequestToken" />

    @*
        Add meta tags for Apple Pay discoverability by web crawlers.
    *@
    <meta property="product:payment_method" content="ApplePay" />
    <meta name="payment-country-code" content="@countryCode" />
    <meta name="payment-currency-code" content="@currencyCode" />

    @*
        Add meta tags for use by the JavaScript to access the merchant identifier and store name.
    *@
    <meta name="apple-pay-merchant-id" content="@merchantId" />
    <meta name="apple-pay-store-name" content="@Model.StoreName" />

    @*
        Add link for use by the JavaScript to get the URL to POST to for merchant validation.
    *@
    <link rel="merchant-validation" href="@Url.RouteUrl("MerchantValidation")" />

    @*
        Add link tags for the icon to display on a paired
        device when a payment is started from Safari on macOS.
    *@
    <link rel="apple-touch-icon" href="@Url.AbsoluteContent("apple-touch-icon.png")" />
    <link rel="apple-touch-icon" href="@Url.AbsoluteContent("apple-touch-icon-120x120.png")" sizes="120x120" />
    <link rel="apple-touch-icon" href="@Url.AbsoluteContent("apple-touch-icon-152x152.png")" sizes="152x152" />
    <link rel="apple-touch-icon" href="@Url.AbsoluteContent("apple-touch-icon-180x180.png")" sizes="180x180" />
    <link rel="apple-touch-icon-precomposed" href="@Url.AbsoluteContent("apple-touch-icon.png")" />
}

@*
    Display a simple container to collection a numeric value for use in the sheet.
*@
<div class="container">
    <div class="row">
        <div class="card apple-pay-intro">
            <div class="card-header">
                <h1 class="h5">Apple Pay JS</h1>
            </div>
            <div class="card-body">
                <p class="lead">
                    This page demonstrates an integration of <a href="https://developer.apple.com/reference/applepayjs/" rel="noopener" target="_blank">Apple Pay JS</a>.
                </p>
                <p class="text-justify">
                    If supported on the current device, you will be able to authorize a payment for the amount entered below.
                </p>
                <p class="text-justify">
                    The Apple Pay token is not used once it is authorized, other than to print the details obtained from the Apple Pay sheet
                    as a means of demonstrating that access to payment information was granted. You will <strong>not</strong> be charged.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        @*
            Used to display a message in browsers where Apple Pay cannot be used.
        *@
        <div class="alert alert-warning apple-pay-error col d-none" role="alert"></div>
        @*
            Used to display a message and payment details when an Apple Pay payment is successfully authorized.
        *@
        <div class="col apple-pay-success d-none">
            <div class="card card-success">
                <div class="card-header">Payment successful</div>
                <div class="card-body">
                    <p class="lead">
                        Your Apple Pay payment was processed successfully using <span class="card-name"></span>.
                    </p>
                    <div class="card">
                        <div class="card-header">Billing Contact</div>
                        <div class="card-body">
                            <address id="billing-contact">
                                <strong class="contact-name d-none"></strong>
                                <a class="contact-email d-none" href=""></a>
                                <a class="contact-telephone d-none" href=""></a>
                                <div class="contact-address d-none">
                                    <hr />
                                    <span class="contact-address-lines"></span><br />
                                    <span class="contact-sub-locality"></span><br />
                                    <span class="contact-locality"></span><br />
                                    <span class="contact-sub-administrative-area"></span><br />
                                    <span class="contact-administrative-area"></span><br />
                                    <span class="contact-postal-code"></span><br />
                                    <span class="contact-country"></span><br />
                                </div>
                            </address>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header">Shipping Contact</div>
                        <div class="card-body">
                            <address id="shipping-contact">
                                <strong class="contact-name d-none"></strong>
                                <a class="contact-email d-none" href=""></a>
                                <a class="contact-telephone d-none" href=""></a>
                                <div class="contact-address d-none">
                                    <hr />
                                    <span class="contact-address-lines"></span><br />
                                    <span class="contact-sub-locality"></span><br />
                                    <span class="contact-locality"></span><br />
                                    <span class="contact-sub-administrative-area"></span><br />
                                    <span class="contact-administrative-area"></span><br />
                                    <span class="contact-postal-code"></span><br />
                                    <span class="contact-country"></span><br />
                                </div>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <form class="col">
            <fieldset class="form-group">
                <label class="sr-only" for="amount">Amount (in @currencyCode)</label>
                <div class="input-group input-group-lg">
                    @*
                        Add a number input for the amount to charge in the Apple Pay Sheet.
                    *@
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="amount-addon">@currencySymbol</span>
                    </div>
                    <input type="number"
                           aria-describedby="amount-addon"
                           autocomplete="off"
                           autofocus
                           class="form-control input-block-level"
                           id="amount"
                           min="0.00"
                           pattern="\d*(.\d\d)?"
                           placeholder="Amount"
                           step="0.01"
                           value="0.01">
                </div>
            </fieldset>
            @*
                Used to render the setup Apple Pay button, which is shown if the
                JavaScript determines that Apple Pay is available, but there are
                no payment cards set up in Wallet.
            *@
            <div id="set-up-apple-pay-button" class="apple-pay apple-pay-set-up-button apple-pay-set-up-button-black input-block-level d-none" lang="@countryCode"></div>
            @*
                Used to render the Apple Pay button, which is shown if the
                JavaScript determines that Apple Pay is available for use.
            *@
            <div id="apple-pay-button" class="apple-pay input-block-level d-none" lang="@countryCode"></div>
        </form>
    </div>
</div>
@section scripts {
    @if (string.Equals(Config["ApplePay:UsePolyfill"], bool.TrueString, StringComparison.OrdinalIgnoreCase))
    {
        @await Html.PartialAsync("_Polyfill", merchantId)
    }
    @if (string.Equals(Config["ApplePay:UseTypeScript"], bool.TrueString, StringComparison.OrdinalIgnoreCase))
    {
        <script src="~/ts/site.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/js/site.js" asp-append-version="true"></script>
    }
}
